# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
env/
venv/
ENV/
*.egg-info/

# VSCode settings
.vscode/

# Environment variables and secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database files (if any local SQLite, etc.)
*.db
*.db-journal
Procfile
house_scraper_poli.session
emebeddings.py
alembic/__pycache__